* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #0e0e10;
    --nav-color: #18181b;
    --title-color: #f6f6f6;
    --button-color: #0074e4;
}

body {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

button, input {
    background: none;
    outline: none;
    border: none;
}

button {
    user-select: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.mobile-page-nav {
    background-color: var(--nav-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 80px;
    padding: 20px;
    z-index: 99;
}

.mobile-page-nav .title-content, .mobile-page-nav .search-content, .mobile-page-nav .search-content form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.mobile-page-nav .search-content {
    display: none;
}

.mobile-page-nav .nav-title {
    color: var(--title-color);
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-page-nav .search-button, .mobile-page-nav .search-show-button, .mobile-page-nav .search-close-button {
    color: var(--title-color);
    position: relative;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-page-nav .search-button svg, .mobile-page-nav .search-show-button svg {
    width: 17px;
    height: 17px;
}

.mobile-page-nav .search-close-button svg {
    width: 10px;
    height: 10px;
}

.mobile-page-nav .search-content .search-input {
    color: var(--title-color);
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.nsfw-warning {
    background: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.nsfw-warning span {
    color: var(--title-color);
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.nsfw-warning button {
    background: var(--button-color);
    color: var(--title-color);
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    height: 50px;
    min-width: 200px;
}

.page-content {
    padding: 5px;
    display: none;
    flex-wrap: wrap;
}

.archive-item {
    background-color: var(--nav-color);
    border-radius: 3px;
    width: calc((100vw / 5) - 12px);
    height: calc((100vw / 5) - 12px);
    margin: 5px;
    overflow: hidden;
}

.archive-item img, .archive-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .archive-item {
        width: calc((100vw / 2) - 15px);
        height: calc((100vw / 2) - 15px);
    }
}

.file-page-content {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.file-page-content .page-close-button {
    color: var(--title-color);
    position: fixed;
    top: 0;
    right: 0;
    min-width: 80px;
    min-height: 80px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.file-page-content .page-close-button svg {
    width: 20px;
    height: 20px;
}

.file-page-content .file-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-page-content img, .file-page-content video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 768px) {
    .file-page-content .page-close-button {
        min-width: 40px;
        min-height: 40px;
        margin: 10px;
    }

    .file-page-content .page-close-button svg  {
        width: 10px;
        height: 10px;
    }
}
